.expert-profile{
    margin: 80px 200px;
    display: flex;
}

.expert-info{
    display: flex;
    flex-direction: column;
}

.expert-photo{
    background-image: url(assets/images/dut.jpg);
    background-size: cover;
    width: 350px;
    height: 350px;
    border-radius: 50%;

}
.expert-name{
    font-size: 35px;
    font-weight: 800;
    margin: 20px 0 5px 10px;
}
.skills{
    opacity: 60%;
    font-size: 18px;
    font-weight: 0px;
    margin: 5px 0 15px 10px;
}
.expert-name, .skills{
    text-align: center;
    
}
.btn{
    font-size: 20px;
    padding: 20px ;
    margin-top: 15px;
    background-color: rgb(235, 157, 57);
    border: rgb(235, 157, 57);
    border-radius: 35px;

}
.btn a{
    color: black;
    text-decoration: none;
}
.btn a:hover{

    background: rgb(235, 157, 57);
    color: aliceblue;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}
.bio{
    margin: 0 80px;
    
}
.bio-text{
    margin: 25px 0;


}
.contacts{
    display: flex;

}
.contacts a {
    padding: 30px 20px;
    color: black;
    font-size: 40px;
}
.expert-phone{
    margin-top:30px;
}
